@import "color.css";
@import "fonts/Kostania-Bold.ttf";
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,400&display=swap');

@font-face {
    font-family: 'Kostania';
    src: url('Kostania-Bold.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif !important;
}

body {
    background: var(--bege);
    color: #201d2d;
}

nav {
    background: var(--bege);
}

nav a {
    font-family: 'Kostania', sans-serif;  
}

h1, h2, h3 {
    font-family: 'Kostania', sans-serif;
}

.kostania {
    font-family: 'Kostania', sans-serif;
}

.bg-gradient {
    /*background-image: url(/img/background/bg-gradient.jpg);*/
    background: linear-gradient(-75deg, #F2EADF, #FD7A39, #F2EADF, #00C69E,#E2C1F3, #FE51B0, #E2C1F3, #F2EADF, #00C69E );
	background-size: 400% 400%;
	animation: gradient 55s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 40%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.bg-pink {
    background: var(--pink);
}

.bg-orange {
    background: var(--orange);
}

.bg-lilac {
    background: var(--lilac);
}

.bg-green {
    background: var(--green);
    border-top-right-radius: 300px;
}

.section-info {
    background: var(--gradient);
    padding: 2rem;
} 

.line-text {
    padding: 5px;
    position: relative;
    top: -2rem;
}

/**** Portifolio ****/
#portifolio {
    background: var(--lilac);
}

/**** Contato ****/
#contato {
    
}

input {
    background: #f4f4f4;
    border: none;
}

.triangulo {
    clip-path: polygon(50% 100%, 0 29%, 100% 30%);
    background: var(--green);
    padding: 1rem;
    width: 10%;
    height: 50px;
    position: relative;
    top: -3rem;
}